/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* Header Styles */
header {
    background-color: none;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.logo {
    color: #226ef4;
    font-size: x-large;
}

/* Hero Section Styles */
.hero {
    background-image: url('/images/car2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #226ef4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #558ef1;
}

/* Features Section Styles */
.features {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    text-align: center;
    margin: 0 20px;
}

.feature img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

@media (max-width: 480px) {
  .feature img {
      height: 150px;
  }
}

@media (max-width: 390px) {
  .feature img {
      height: 100px;
  }
}
  
.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    color: #666;
}

/* Contact Section Styles */
.contact {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact p {
    color: #666;
    margin-bottom: 30px;
}

.contact .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7d00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact .btn:hover {
    background-color: #fa902d;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Register Section Styles */
.register {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

@media (max-width: 768px) {
    .register {
        height: 400px;
        margin-top: 30%;
    }
}

@media (max-width: 576px) {
    .register {
        height: 300px;
        margin-top: 50%;
    }
}

/* Container Styles */
.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #222;
}

/* Success Message Styles */
.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

/* Back Link Styles */
.back-link {
    text-align: center;
    margin-top: 10px;
}

.back-link a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}

/* Table Styles */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
}

table th,
table td {
    padding: 10px;
    border: none;
}

table th {
    background-color: #dce6f8;
    border-bottom: 1px solid #ccc;
}

table td {
    border-top: 1px solid #ccc;
}

table td:first-child,
table th:first-child {
    border-left: 1px solid #ccc;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

table td:last-child,
table th:last-child {
    border-right: 1px solid #ccc;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sort-link {
    text-decoration: none;
}

.eligible {
    color: green;
  }
  
  .not-eligible {
    color: red;
  }  

.success-message {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}

/* Form */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.search {
    border: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Update the style for readonly inputs */
input[readonly] {
    border: none;
    background-color: #f2f2f2;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Pagination */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.edit {
    background-color: #f3f7ff;
}